.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #2B242E;
}

.link:hover {
  color: #4d3f53
}


/* 
-----------Colors
*/

:root {
  --colorthr: #FCF5DF;
  --colortwo: #FCCABE;
  --colorone: #EC8A90;
  --offblack: #2B242E;
}


/* 
-----------Colors
*/

.background {
  background-color: var(--colortwo);
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

/* Contact */

.Contact {
  padding: 50px;
}

.inset {
  background-color: var(--colorthr);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}


.Title {
  margin: 60px;
  font-size: 40px;
}


.FormBtn {
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: var(--colorone);
  width: 30%;
}

/* .FormTextarea {
  height: 200px;
} */



/* Contact */


/* Nav */

.siteTitle {
  font-size: 35px;
}


.NavBar {
  background-color: #FCCABE;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavUl {
  padding: 14px;

}

/* Nav */

/* Home */
.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;




}


/* Home */

/* Resume */
.ResumeWhole {
  color: var(--offblack);
  padding: 50px 300px 100px 100px;

}

/* Resume */