.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #2B242E;
}

.link:hover {
  color: #4d3f53
}


/* 
-----------Colors
*/

:root {
  --colorthr: #FCF5DF;
  --colortwo: #FCCABE;
  --colorone: #EC8A90;
  --offblack: #2B242E;
}


/* 
-----------Colors
*/

/*
  fonts
*/


.crimson {
  font-family: 'Crimson Pro', serif;
}



.cavent {
  font-family: 'Caveat', cursive;
}

/*
  fonts
*/


.background {
  background-color: var(--colortwo);
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}



/* footer */


.footer {
  padding: 20px;
}





/* footer */

/* Contact */

.Contact {
  padding: 50px;
}

.inset {
  background-color: var(--colorthr);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}


.Title {
  margin: 60px;
  font-size: 40px;
}


.FormBtn {
  padding: 5px;
  border: none;
  border-radius: 7px;
  background-color: var(--colorone);
  width: 30%;
}

/* .FormTextarea {
  height: 200px;
} */



/* Contact */


/* Nav */

.siteTitle {
  font-size: 35px;
}


.NavBar {
  background-color: #FCCABE;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.NavUl {
  padding: 14px;
  font-size: 20px;
}

.icon {
  height: 50px;
  margin: 20px;
}

/* Nav */

/* Home */

.Home {
  padding: 100px;
  display: flex;
  flex-direction: column;


}

.homePhoto {}


.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;




}


/* Home */

/* Resume */
.ResumeWhole {
  color: var(--offblack);
  padding: 50px 300px 100px 100px;

}

/* Resume */

/* AboutMe */

.aboutMe {
  display: flex;
  padding: 200px;
  align-items: center;
  justify-content: center;
}

.profilePhoto {
  background-color: #382e2f;
  min-width: 350px;
  min-height: 350px;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
}

.aboutText {
  padding: 45px;
  max-width: 800px;
}

.aboutTitle {
  font-size: 40px;
}


.aboutDesc {
  font-size: 22px;
}

/* AboutMe */