/* 
-----------Table of Contents

  --required 
    --colors
    --fonts
-------------------
  
  --Header

  --portfolio
    --big
    --normal

  --AboutMe

  --Contact

  --Resume

*/


@keyframes slideInLeft {
  from {
    transform: translateX(-150px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(150px);
  }

  to {
    transform: translateY(0px);
  }
}


/* required */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.link:hover {
  color: var(--colorone)
}


/* 
-----------Colors
*/


:root {
  --colorthr: #FCF5DF;
  --colortwo: #FCCABE;
  --colorone: #EC8A90;
  --offblack: #2B242E;
}


/* 
-----------Colors
*/



/*
  fonts
*/


.crimson {
  font-family: 'Crimson Pro', serif;
}



.cavent {
  font-family: 'Caveat', cursive;
}


/*
  fonts
*/



.background {
  background-color: var(--colortwo);
  height: 100%;

}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
}

/* required */






/* Header */



.TrueTitle {
  display: flex;
  font-size: 35px;
  align-self: center;
}


.NavBar {

  justify-content: space-between;
  background-color: var(--offblack);
  color: var(--colortwo);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px 20px 40px;
}

@media screen and (max-width: 620px) {
  .NavBar {
    flex-direction: column;
  }
}

.NavUl {
  padding: 14px;
  font-size: 20px;
  color: var(--colortwo);
  display: flex;
  flex-direction: row;
  list-style: none;
}

.NavItem {
  padding: 10px 10px 0px 10px;
}

.icon {
  height: 50px;
  margin: 20px;
}




/* Header */
/* Home */




.Home {

  margin: 0px 260px 0px 260px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;


}

@media screen and (max-width: 920px) {
  .Home {
    margin: 0px 20px 0px 20px;
  }
}





.homePhoto {
  align-self: flex-end;
  max-width: 450px;
  max-height: 450px;
  margin: 40px 20px 0px 20px;

}

@media screen and (max-width: 620px) {
  .homePhoto {
    max-width: 350px;
    max-height: 350px;
  }
}


.homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation-name: slideInLeft;
  animation-duration: 1s;
  max-width: 600px;

}

.subTitleHome {
  font-size: 35px;
}


.titleHome {
  font-size: 50px;
}

.subtextHome {
  font-size: 20px
}


/* Home */
/* portfolio */

.portfolioTitle {
  font-size: 50px;
  padding: 35px;
}

/* 
does not work  */


.projectPage {
  display: flex;
  flex-direction: column;
  align-items: center;


}



/* */
.bigportfolioTitle {
  padding: 70px;
  font-size: 60px;
}

.bigprojectPage {
  background-color: #FCCABE;
  padding: 40px;
}

.bigprojectCard {
  width: 800px;
  animation-name: slideInBottom;
  animation-duration: 1.5s;
  border-radius: 10px;
}

.bigprojectPhoto {
  background-color: var(--offblack);
  height: 450px;
  width: 800px;
  border-radius: 10px 10px 0px 0px;
}

.bigprojectTitle {
  background-color: var(--colorone);
  color: var(--offblack);
  padding: 15px;
  font-size: 36px;
  border-radius: 0px 0px 10px 10px;

}

.bigprojectDesc {
  padding: 15px;
  font-size: 18px;
}

@media screen and (max-width: 920px) {
  .bigprojectPhoto {
    height: 300px;
    width: 500px;
  }

  .bigprojectCard {
    width: 500px;
  }
}


.shadowBigProject {
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}


@media screen and (max-width: 620px) {
  .bigprojectPhoto {
    height: 250px;
    width: 400px;
  }

  .bigprojectCard {
    width: 400px;
  }
}

/* ////////////////////////////////////////////////*/

.projectDiv {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 30px 30px 30px;
  justify-content: center;
}


.projectPage {
  background-color: #FCCABE;
  padding: 30px;
}

.projectCard {
  width: 375px;
  margin: 50px;
  animation-name: slideInBottom;
  animation-duration: 2.50s;



}

.projectPhoto {
  background-color: var(--offblack);
  height: 250px;
  width: 375px;
  border-radius: 10px 10px 0px 0px;
  transition-duration: 0.5s;


}

.shadowProject {
  border-radius: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}



.projectTitle {
  background-color: var(--colorone);
  color: var(--offblack);
  padding: 15px;
  border-radius: 0px 0px 10px 10px;
  perspective: 800px;

}

.projectDres {
  padding: 10px;
}






/* portfolio */
/* AboutMe */





.aboutMe {
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .aboutMe {
    flex-direction: column;
  }
}



.profilePhoto {
  background-color: #382e2f;
  min-width: 400px;
  min-height: 400px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 50%;
}

.aboutText {
  padding: 45px;
  max-width: 800px;
}

.aboutTitle {
  font-size: 40px;
}


.aboutDesc {
  font-size: 22px;
}

/* AboutMe */


/* Contact */

.Contact {
  padding: 50px;
}

.formDiv {
  display: flex;
  justify-content: center;

}

.inset {
  background-color: var(--colorthr);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}


.Title {
  margin: 60px;
  font-size: 40px;
}


.nameForm {

  align-self: center;
}

.FormBtn {
  padding: 5px;
  border: none;
  border-radius: 7px;
  margin: 25px;
  background-color: var(--colorone);
  width: 30%;
}


/* Contact */
/* Resume */
.resumePart {
  color: var(--offblack);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  margin: 30px;
}

.TitleContact {
  margin: 50px;
}

.emptyspace {
  height: 100px;
}

/* Resume */